.app {
  display: flex;
}

.header {
  position: fixed;
  width: 30%;
  text-align: center;
  background-color: lavender;
  height: 100%;
}

.checkbox-container {
  display: flex;
}

.filter-holder {
  width: 50%;
}

.checkboxes {
  padding-left: 10px;
  columns: 2;
  text-align: left;
}

.checkboxes label,
.checkboxes input {
  cursor: pointer;
}

.filter-holder:first-child {
  border-right: 1px solid black;
}

.pokemon-card {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.pokemon-card h3 {
  width: 100%;
}

.list-container {
  margin-left: 30%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
}

.card-info {
  display: flex;
}

.card-info div, .card-info img {
  width: 33%;
}

.pokemon-card p {
  margin: 0;
}

div.weaknesses {
  width: 100%;
  columns: 2 auto;
}

.pokemon-name {
  background-color: lightcoral;
}

